# Automatic variable generation config file
#
# "#" is for comment

# Func: EVENT_AVG
# Naming convention: AVE_<$1>_<$2>_<nE>
#  $1: base var name, e.g. dol_amt
#  $2: flag name, e.g. auth (from flag var is_auth)
#  nE: e.g. 5E, 40E
# example: AVE_DOL_AMT_AUTH_5E

Type = EventAve
Bases = DOLLAR_AMOUNT,SIC_RISKRATE,AMT_RISKRATE,TIME_RISKRATE
Elements = 1,5,40
Grp = AUTH_ONLY
Map = 
Flags = NEW_HR, NEW_SIC, NEW_ZIP3
Comments =


# Func: DAILY_RATE
# Naming convention: DAILY_<$base>_<$flag>_<$time>
#  $base: base var name, e.g. dol_mat, 
#         note: use CON_1 if just count number for the flag, $base will
#         NUM
#  $flag: flag name, e.g. auth (from flag var is_auth)
#  $time: e.g. 15MIN, 1D, 2D, 6M
# example: DAILY_NUM_AUTH_2D
#          DAILY_DOL_AMT_AUTH_2D

Type = DailyRate
Bases = DOLLAR_AMOUNT, CON_1
Elements = 30MIN,2HOUR,1DAY,2DAY,6MON
Grp = AUTH_ONLY
Map = 
Flags = NEW_HR, NEW_SIC, NEW_ZIP3
Comments =


# Func: FAL_CONSEC
# Naming convention: CONS_<$base>_<$decay>
#  $base: often is a flag, IS_ will be removed 
#  $flag: flag name (this is for FAL_CONSEC(x,s,c,F) only, otherwise it's
#         FAL_CONSE(x,s,c);
#  $decay: e.g. 15MIN, 1D, 2D, 6M
# example: CONS_HIGH_AMT_2D

Type = FalConsec
Bases = IS_NEW_SIC, IS_NEW_HR, IS_NEW_ZIP3, IS_DECLINED
Elements = 1DAY
Grp = AUTH_ONLY
Map = 
Flags = 
Comments =


# Func: MAX_SHIFT
# Naming convention: MAX{M,B,P}_<$base>_<$decay>
#  $base: base var name, e.g. dol_mat, 
#  $flag: flag name, e.g. auth (from flag var is_auth)
#  $time: e.g. 15MIN, 1D, 2D, 6M
# example: DAILY_NUM_AUTH_2D
#          DAILY_DOL_AMT_AUTH_2D

Type = MaxShift
Bases = DAILY_NUM_NEW_SIC_1DAY,DAILY_DOLLAR_AMOUNT_NEW_SIC_1DAY
Elements = 6MON
Grp = AUTH_ONLY
Map = 
Flags = AUTH
Comments =

Type = MaxShift
Bases = DAILY_NUM_NEW_HR_1DAY,DAILY_DOLLAR_AMOUNT_NEW_HR_1DAY
Elements = 6MON
Grp = AUTH_ONLY
Map = 
Flags = AUTH
Comments =

Type = MaxShift
Bases = DAILY_NUM_NEW_ZIP3_1DAY,DAILY_DOLLAR_AMOUNT_NEW_ZIP3_1DAY
Elements = 6MON
Grp = AUTH_ONLY
Map = 
Flags = AUTH
Comments =


# Func: NORMALIZE
# Naming convention: N_<$base>_<$decay1x$decay2>_NM{N,X}
#  $base: base var name, e.g. DAILY_NUM, 
#  $flag: NMN (decay by decay) or NMX (decay by maxp)
#  $time: e.g. 15MINx1D, 2Dx6M
# example: N_DAILY_NUM_AUTH_2Dx6M_NMN
#          N_DAILY_DOL_AMT_AUTH_2Dx6M_NMX

Type = Normalize
Bases = DAILY_NUM_NEW_SIC,DAILY_DOLLAR_AMOUNT_NEW_SIC
Elements = 1DAYx6MON
Grp = AUTH_ONLY
Map = 
Flags = NMN, NMX
Comments =

Type = Normalize
Bases = DAILY_NUM_NEW_HR,DAILY_DOLLAR_AMOUNT_NEW_HR
Elements = 2DAYx6MON,1DAYx6MON
Grp = AUTH_ONLY
Map = 
Flags = NMN, NMX
Comments =

Type = Normalize
Bases = DAILY_NUM_NEW_ZIP3,DAILY_DOLLAR_AMOUNT_NEW_ZIP3
Elements = 2DAYx6MON,1DAYx6MON
Grp = AUTH_ONLY
Map = 
Flags = NMN, NMX
Comments =


