# Automatic variable generation config file
#
# "#" is for comment

# Daily rate coef1 and coef2 (approximate value) and age-unrelated decay
# rate
# using functions: FAL_DLY_COEF1 and RATE_DECAY
#
# Bases = age,delta_time var names (assuming $map_$age and $map_$delta_time
#         are defined)
# Elements = list of time decays (_decay should be defined as constant, e.g
#            decay=7DAY, _7DAY should be defined as constant)
# Grp = group name
# Map = profile name with prof ignored
# Flags = not used
#
# The var name formats are:
# $map_DR_COEFF1_$decay, $map_DR_COEFF2_$decay and $map_DECAY_COEF_$decay
Type = DailyRateCoef
Bases = AGE,DELTA_TIME
Elements = 30MIN,1DAY,7DAY,15DAY,30DAY,45DAY
Grp = MEM_VARS
Map = MEM
Flags = 


# Daily rate function (DAILY_RATE)
# Bases = base var list the decay is based on
# Elements = list of time decays
# Grp = group name
# Map = profile name with prof ignored
# Flags = list of flags
#
# The var name format is
# map_DAILY_baseVar_flag_decay

Type = DailyRate
Bases = DOL_AMT
Elements = 30MIN,1DAY,7DAY,15DAY,30DAY,45DAY
Grp = MEM_VARS
Map = MEM
Flags = PAY,NEW_PAY,TRANSFER

## Time-decayed consecutive events (FAL_CONSEC)
## Bases = list of event indicators (IS_* variables need to be defined)
## Elements = list of time decays
## Grp = group name
## Map = profile name with prof ignored
## Flags = additional flag (IS_* variables need to be defined)
##
## The var name format is
## map_CONS_eventIndicator_decay
##
## If flag is missing, use FAL_CONSEC(x,S,c)
## otherwise use FAL_CONSEC(x,S,c,F)
#Type = FalConsec
#Bases = NEW_PAY
#Elements = 30MIN,1DAY,7DAY,15DAY,30DAY,45DAY
#Grp = MEM_VARS
#Map = MEM
#Flags = PAY

# Daily number function (DAILY_RATE)
# Bases = not used
# Elements = list of time decays
# Grp = group name
# Map = profile name with prof ignored
# Flags = list of flags
#
# The var name format is
# map_DAILY_NUM_flag_decay
Type = DailyNum
Bases = 
Elements = 30MIN,1DAY,7DAY,15DAY,30DAY,45DAY
Grp = MEM_VARS
Map = MEM
Flags = PAY,NEW_PAY,TRANSFER

# Event average coef1 and coef2 (exact calculation)
# Bases = counter
# Elements = list of nEvents (_nEvent should be defined as constant
#            and EXP_nEvent should be calculated in sys_init, e.g.
#            nEvent=7, CONST _7EVENT=7 in constant file
#            and EXP_7EVENT (1-exp(-1/_7EVENT)) in sys_init
# Grp = group name
# Map = name prefix
# Flags = not used
#
# The var name format is
# map_AVE_COEF1_nEventEVENT and map_AVE_COEF2_nEventEVENT
Type = EventAveCoef
Bases = NUM_EVENTS_SEEN
Elements = 1,5,10,20,40
Grp = MEM_VARS
Map = MEM
Flags = 

# Daily rate function
# Bases = base var list the decay is based on
# Elements = list of nEvent, e.g. 1E,5E
# Grp = group name
# Map = profile name with prof ignored
# Flags = list of flags
#
# The var name format is
# map_AVE_baseVar_flag_nEvent
#
# Note: COEF1_<nEvent>VENT, and EXP_<nEvent>VENT should be defined in
# constant and initialization files
Type = EventAve
Bases = DOL_AMT
Elements = 1,5,10,20,40
Grp = MEM_VARS
Map = MEM
Flags = AUTH,PAY

# Normalization with safe ratio
# Base = the denominator
# Elements = list of the numerators
# Grp = group
# Map = prefix, (the common part of the denominator and numerators)
# Flags = the constants of max_ratio and default value

# PAY ratios
Type = Normalize
Bases = 1DAY
Elements = 30MIN
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_PAY
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 7DAY
Elements = 30MIN,1DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_PAY
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 15DAY
Elements = 30MIN,1DAY,7DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_PAY
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 30DAY
Elements = 30MIN,1DAY,7DAY,15DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_PAY
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 45DAY
Elements = 30MIN,1DAY,7DAY,15DAY,30DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_PAY
Flags = MAX_RATIO,CON_0

# NEW_PAY ratios
Type = Normalize
Bases = 1DAY
Elements = 30MIN
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_NEW_PAY
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 7DAY
Elements = 30MIN,1DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_NEW_PAY
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 15DAY
Elements = 30MIN,1DAY,7DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_NEW_PAY
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 30DAY
Elements = 30MIN,1DAY,7DAY,15DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_NEW_PAY
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 45DAY
Elements = 30MIN,1DAY,7DAY,15DAY,30DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_NEW_PAY
Flags = MAX_RATIO,CON_0

# TRANSFER ratios
Type = Normalize
Bases = 1DAY
Elements = 30MIN
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_TRANSFER
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 7DAY
Elements = 30MIN,1DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_TRANSFER
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 15DAY
Elements = 30MIN,1DAY,7DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_TRANSFER
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 30DAY
Elements = 30MIN,1DAY,7DAY,15DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_TRANSFER
Flags = MAX_RATIO,CON_0

Type = Normalize
Bases = 45DAY
Elements = 30MIN,1DAY,7DAY,15DAY,30DAY
Grp = MEM_VARS
Map = MEM_DAILY_DOL_AMT_TRANSFER
Flags = MAX_RATIO,CON_0

## MAXM, MAXB and MAXP
## Base = Decay rate
## Elements = base variables (without profile names prefix)
## Grp = group
## Map = profile (with PROF)
## Flags = flag
##
## It will create the triplet, 
## $map_MAXM/B/P_$baseVar_$decay
## and also the temp variable
## $map_IS_FIRST_MAXSHIFT_$baseVar_$decay
##
## It assumes $map_DO_SHIFT and $map_DECAY_COEF_$decay is already defined
#Type = MaxShift
#Bases = 6MON
#Elements = var1,var2
#Grp = MEM_VARS
#Map = MEM
#Flags = is_true
#
## MAX_DECAY (Preserving maximum decayed value)
## Base = Decay rate
## Elements = base variables (without profile names prefix)
## Grp = group
## Map = profile (with PROF)
## Flags = flag
##
## The varible name will be
## $map_MAX_$baseVar_$decay
##
## It assumes $map_DECAY_COEF_$decay is already defined
#Type = MaxDecay
#Bases = 6MON
#Elements = var1,var2
#Grp = MEM_VARS
#Map = MEM
#Flags = is_true

# Percentile
# Bases = base vars
# Elements = percentiles
# Grp =
# Map =
# Flags = flag,epoch_size
#
# Note PROF$map.P$percent_$baseVar_INFO : float, MAX_ELEMENTS = 6 needs to
# be defined in profile
Type = Percentile
Bases = DOL_AMT,var2
Elements = 95,99
Grp = MEM_VARS
Map = MEM
Flags = is_true,EPOCH_SIZE
