[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=lan:/
Icon=network
Name=LAN Browser
Name[bg]=Браузър на локалната мрежа
Name[bs]=LAN preglednik
Name[ca]=Navegador LAN
Name[cs]=Prohlížení lokální sítě
Name[da]=LAN-søger
Name[de]=LAN durchsuchen
Name[eo]=Rigardilo por loka reto
Name[es]=Navegador de red
Name[et]=Kohtvõrgu sirvija
Name[fr]=Navigateur réseau
Name[hr]=Preglednik LAN-a
Name[hu]=Hálózatböngésző
Name[is]=Netflakkari
Name[it]=Navigazione della rete locale
Name[ja]=LAN ブラウザ
Name[lt]=Vietinio tinklo naršyklė
Name[lv]=LAN Pārlūks
Name[nb]=LAN-los
Name[nn]=LAN-lesar
Name[pl]=Przeglądarka sieci lokalnej
Name[pt]=Navegador de Rede
Name[pt_BR]=Navegador LAN
Name[sk]=Prehliadač siete
Name[sl]=Brskalnik po lokalnem omrežju
Name[sr]=Претраживач LAN-а
Name[sr@Latn]=Претраживач LAN-а
Name[sv]=Bläddrare i lokalt nätverk
Name[ta]=LAN உலாவி
Name[tg]=Барраси Шабакаи Маҳаллӣ
Name[th]=การเรียกดูระบบแลน
Name[uk]=Навігатор ЛОМ
Name[ven]=Buronza ya LAN
Name[vi]=Duyệt LAN 
Name[xh]=Umkhangeli zincwadi we LAN
Name[zh_CN]=局域网浏览器
Name[zu]=Umbheki zincwadi ze LAN
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
X-KDE-ConfiguredURL=kio_lanrc:noGroup:sidebarURL
